// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.navbar-laravel {
    //background-color: #202325;
    //color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img.img-thumbnail {
    padding: 1px;
    border: none;
}

.custom-small-text {
    font-size: 0.85rem;
    line-height: 1.5rem;
}

b,
strong {
    font-weight: 600;
}

article img {
    width: 100%;
    // width: calc(100% + 2rem);
    // margin-left: -1rem;
    height: auto;
    min-height: 300px;
    max-height: 50vh;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 1rem;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    text-align: left;
}

a.text-muted,
p.text-muted,
small.text-muted {
    color: #565656 !important;
}

body,
,
.navbar-nav>li>.dropdown-menu,
.navbar-nav>li>.dropdown-menu>.dropdown-item {
    //background-color: #202325;
    //color: #fff;
}

// .leafelt-control a, .leaflet-bar a, .leaflet-bar a:hover, .leaflet-bar-part, .leaflet-control-geocoder-icon, .leaflet-control-fullscreen-button {
//  background-color: #202325 !important;
//  color: #fff !important;
// }

.leaflet-control-geocoder-alternatives li,
.card {
    color: #202325;
}

// .leaflet-popup-tip, .leaflet-popup-content-wrapper {
//  background-color: #343a40!important;
//  color: #fff!important;
// }
.leaflet-container {
    font-size: 0.8rem !important;
}

span.fa {
    color: #404040;
}

.leaflet-pane {
    img {
        position: absolute;
    }
}

.footer {
    background-color: $blue;
    color: #fff !important;
}

.form-control {
    font-size: initial;
}

.table thead th {
    border-top: none;
    border-bottom: none;
}

.progress {
    background-color: #e3e3e3;
}

.header-section.row {
    margin-left: 0;
    margin-right: 0;
}

.with-bg-dec {
    background-clip: content-box;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.blockquote {
    font-size: inherit;
}

/* Self Clearing Goodness */
.container:after,
.row:after {
    content: none !important;
    display: none;
    clear: unset !important;
  }
// @media print {
//    html, body {
//     background-color: #fff !important;
//   }
// }
// @media (prefers-color-scheme: dark) {
//   html, body {
//     // background-color: #333333 !important;
//     background-color: #232323 !important;
//     color: white !important;
//   }
//   .alert-info {
//  background-color: #0a2c47 !important;
//  border-color: #0a2c47 !important;
//   }

//   .action-section, .dropdown-content, .img-thumbnail {
//    background-color: #333333 !important;
//     color: white !important;
//   }
//   .bg-light, input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
//     background-color: #131313 !important;
//     color: white !important;
//   }
//     body > *, .text-dark, a.text-dark:hover, a.text-dark:focus, .table, .table-hover tbody tr:hover, .dropdown-content a {
//     color: white !important;
//   }
//   .text-muted, a.text-muted, p.text-muted, small.text-muted, .button-secondary, .btn {
//    color: #bfc4c8 !important;
//   }
// }
