// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~aos/dist/aos.css';
@import '~leaflet/dist/leaflet.css';
@import '~swiper/swiper-bundle.css';

:root {
    --white: #fff;
    --black: #131313;
    --dark: #222;
    --light: #f3f3f3;
    --gray: #555;

    --primary: #{$blue};
    // --primary-darker: #2565aa;
    --primary-darker: #{darken($blue, 5%)};
    --primary-text-contrast: #ffffff;

    --secondary: #{$red};
    --secondary-darker: #{darken($red, 5%)};
    --secondary-text-contrast: #ffffff;

    --filter-darker: brightness(85%);
    --filter-lighter: brightness(115%);

    --link: var(--dark);
    --link-darker: var(--black);

    --border-radius: 1rem;
    --box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);

    /*Line length control for text*/
    --max-text-width: 63rem;
}

@media (prefers-color-scheme: dark) {
    /*:root {
        --white: #222;
        --black: #fff;
        --dark: #f3f3f3;
        --light: #131313;

        --filter-darker: brightness(115%);
        --filter-lighter: brightness(85%);

        --box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
    }*/
}

@media print {
    :root {
        --white: #fff;
        --black: #131313;
        --dark: #000;
        --light: #fff;
        --box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    }

    @page {
        margin: 0;
    }
}

#app {
    overflow: hidden;
}

.navbar-laravel {
    //background-color: #202325;
    //color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img.img-thumbnail {
    padding: 1px;
    border: none;
}

.custom-small-text {
    font-size: 0.85rem;
    line-height: 1.5rem;
}

b,
strong {
    font-weight: 600;
}

article img {
    width: 100%;
    // width: calc(100% + 2rem);
    // margin-left: -1rem;
    height: auto;
    min-height: 300px;
    max-height: 50vh;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 1rem;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    text-align: left;
}

a.text-muted,
p.text-muted,
small.text-muted {
    color: #565656 !important;
}

body,
,
.navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu > .dropdown-item {
    //background-color: #202325;
    //color: #fff;
}

.card {
    color: #202325;
    text-decoration: none;
}

span.fa {
    color: #404040;
}

.footer {
    background-color: var(--primary);
    color: #fff !important;
    padding: 1rem;
}

.form-control {
    font-size: initial;
}

.table thead th {
    border-top: none;
    border-bottom: none;
}

.progress {
    background-color: #e3e3e3;
}

.header-section.row {
    margin-left: 0;
    margin-right: 0;
}

.with-bg-dec {
    background-clip: content-box;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blockquote {
    font-size: inherit;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.45s ease-in-out;
}

.fade-leave-active {
    position: absolute;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(-5rem);
}

.fade-in-animate {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Self Clearing Goodness */
.container:after,
.row:after {
    content: none !important;
    display: none;
    clear: unset !important;
}

.header-section {
    box-sizing: border-box;
    width: 100%;
    padding: 13rem 10%;
    text-decoration: none;

    //animation-name: example2;
    animation-duration: 0.45s;
    animation-timing-function: ease-in-out;
    transition: all 1.45s ease-in-out;

    color: var(--dark);
    background: var(--white);
}

a.header-section:hover {
    color: var(--white);
}

h1 {
    -webkit-transition: all 0s;
    transition: all 0s;
    //animation-name: example2;
    animation-duration: 0.55s;
    animation-timing-function: ease-in-out;
}

.header-section h1,
.header-section-title {
    margin-bottom: 0.5rem;
    word-break: break-word;
    /*    color: #4a4a4a;
*/
}

.header-section-title {
}

h2,
p,
.button {
    -webkit-transition: all 0s;
    transition: all 0s;
    //animation-name: example2;
    animation-duration: 0.65s;
    animation-timing-function: ease-in-out;
}

.button {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

html,
body {
    font-family: 'Roboto', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /*    color: #4a4a4a;
*/
}

@keyframes example {
    from {
        transform: translateY(50rem);
        opacity: 0;
    }

    to {
    }
}

@keyframes example2 {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    }

    to {
    }
}

.action-section {
    margin-top: -5rem;
    padding: 1.7rem;
    max-width: 700px;

    //animation-name: example;
    animation-duration: 0.55s;
    animation-timing-function: ease-in-out;

    border-radius: 2rem 2rem 0 0;
    background: var(--white);
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .action-section {
        padding: 3.7rem;
    }
}

.action-section-hover:hover {
    text-decoration: none;
    box-shadow: 0 0 7rem 0 rgba(0, 0, 0, 0.25);
}

.round-all-round {
    border-radius: 2rem !important;
}

input,
textarea {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;

    width: 100%;

    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.page-title {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-text {
    text-decoration: none;

    color: var(--white);
}

.logo-container {
    padding: 1.5rem;

    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    pointer-events: initial;
}

.logo-container:hover {
    border-radius: 25%;
    box-shadow: 0 0 7rem 0 rgba(0, 0, 0, 0.25);
}

.logo-container > img {
    display: block;
}

/*Next*/

.dynamic-images {
    position: relative;
    width: 100%;
    height: 150px;
}

.dynamic-images > img {
    position: absolute;
}

.dropdown {
    position: relative;
    /*  display: inline-block;
*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 237px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 6rem;
}

.dropdown-content::-webkit-scrollbar {
    width: 0.5rem;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: var(--light);
}

.dropdown-content a {
    background-color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--secondary);
    color: var(--secondary-text-contrast);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

p > img {
    max-height: 200px;
}

img {
    max-width: 100%;
}

main img {
    display: block;
    margin: 0 auto;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    main img {
        display: block;
        margin: initial;
    }
}

.card li {
    list-style: none;
}

.background-filter::before {
    -webkit-backdrop-filter: blur(13px);
    /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(13px);
    /* Supported in Chrome 76 */

    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background-filter {
    position: relative;
}

.background-filter > * {
    position: relative;
    text-shadow: 0 0 1px rgb(117, 117, 117);
}

.shadow-filter {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    /* Similar syntax to box-shadow */
}

.tooltip,
.tooltip-inner,
.arrow {
    font-family: inherit;
    // background-color: var(--white);
    // color: var(--dark);
    opacity: 1;
    font-size: 90%;
}

.tooltip,
.arrow {
    box-shadow: var(--box-shadow);
}

a {
    //color: var(--link);
    text-decoration: underline;
}

div.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch > form {
    max-width: 500px;
}

.text-title-heading {
    font-weight: bold;
    font-size: 4.2rem;
    letter-spacing: 0;
    text-align: center;
    max-width: 43rem;
}

@media (max-width: 750px) {
    .text-title-heading {
        font-size: 3.2rem;
    }
}

.m-text-body,
.m-text-label {
    // font-family: Roboto-Medium;

    // color: #383333;
    text-align: center;
    max-width: 43rem;
    // font-weight: 700;
}

.m-text-label {
    font-weight: 700;
}

.m-text-body {
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 2.8rem;
}
