/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Colors
- Clearing
- Media Queries
*/

:root {
    --white: #fff;
    --black: #131313;
    --dark: #222;
    --light: #f3f3f3;
    --gray: #555;

    --primary: #246eb9;
    --primary-darker: #2565aa;
    --primary-text-contrast: #f3f3f3;

    --secondary: #eb4647;
    --secondary-darker: #eb4647;
    --secondary-text-contrast: #ffffff;

    --filter-darker: brightness(85%);
    --filter-lighter: brightness(115%);

    --link: var(--dark);
    --link-darker: var(--black);

    --border-radius: 1rem;
    --box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);

    /*Line length control for text*/
    --max-text-width: 63rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*--white: #222;
        --black: #fff;
        --dark: #f3f3f3;
        --light: #131313;

        --filter-darker: brightness(115%);
        --filter-lighter: brightness(85%);

        --box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);*/
    }
}

@media print {
    :root {
        --white: #fff;
        --black: #131313;
        --dark: #000;
        --light: #fff;
        --box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    }
    @page {
        margin: 0;
    }
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container > * {
    padding: 0 20px;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
}

/* For devices larger than 550px */
@media (min-width: 750px) {
    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }

    .two.columns {
        width: 13.3333333333%;
    }

    .three.columns {
        width: 22%;
    }

    .four.columns {
        width: 30.6666666667%;
    }

    .five.columns {
        width: 39.3333333333%;
    }

    .six.columns {
        width: 48%;
    }

    .seven.columns {
        width: 56.6666666667%;
    }

    .eight.columns {
        width: 65.3333333333%;
    }

    .nine.columns {
        width: 74%;
    }

    .ten.columns {
        width: 82.6666666667%;
    }

    .eleven.columns {
        width: 91.3333333333%;
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }

    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }

    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78%;
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* 1 */
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    background-color: var(--light);
    color: var(--dark);
}

body {
    font-size: 1.6em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    /*    Leaving this out because normalize.css uses system fonts, which look better for current use case
      font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
*/
    background-color: var(--light);
    color: var(--dark);
}

/* Larger than tablet */
@media (min-width: 550px) {
    body {
        font-size: 1.9em;
        /* currently ems cause chrome bug misinterpreting rems on body element */
        line-height: 1.75;
    }
}
@media print {
    body {
        font-size: 1.5em;
        line-height: 1.6;
    }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 300;
    max-width: var(--max-text-width);
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -0.1rem;
}

h3,
.header-text {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -0.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -0.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.05rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4.2rem;
    }

    h3,
    .header-text {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 2.4rem;
    }

    h6 {
        font-size: 1.6rem;
    }
}

p,
ul,
ol {
    margin-top: 0;
    max-width: var(--max-text-width);
    /*    max-width: 75ch;
*/
}

.header-text {
    margin-top: 0;
    margin-bottom: 0;
}

@media print {
    h2 {
        break-before: page;
        padding-top: 3rem;
    }
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: inherit;
}

a:not(.button):hover {
    opacity: 0.9;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
    display: inline-block;
    padding: 3px 15px;
    color: var(--dark);
    text-align: center;
    font-size: 80%;
    font-weight: 600;
    line-height: 3.7rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--dark);
    -webkit-appearance: none;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
    color: var(--black);
    border-color: var(--black);
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
    color: var(--primary-text-contrast);
    background-color: var(--primary);
    border-color: var(--primary);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
    color: var(--primary-text-contrast);
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
}

.button.button-secondary,
button.button-secondary,
input[type='submit'].button-secondary,
input[type='reset'].button-secondary,
input[type='button'].button-secondary {
    color: var(--secondary-text-contrast);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.button.button-secondary:hover,
button.button-secondary:hover,
input[type='submit'].button-secondary:hover,
input[type='reset'].button-secondary:hover,
input[type='button'].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type='submit'].button-secondary:focus,
input[type='reset'].button-secondary:focus,
input[type='button'].button-secondary:focus {
    color: var(--secondary-text-contrast);
    background-color: var(--secondary-darker);
    border-color: var(--secondary-darker);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input,
optgroup,
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
    color: inherit; /* 1 */
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: var(--white);
    border: 1px solid #d1d1d1;
    border-radius: var(--border-radius);
    box-shadow: none;
    box-sizing: border-box;
}

select {
    padding: 0 10px;
    /* Webkit does not ignore 6px for select*/
}

/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
    border: 1px solid #33c3f0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0 0 0 3rem;
    font-size: 90%;
}

li {
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

pre {
    white-space: initial;
    overflow: initial;
    max-width: var(--max-text-width);
}

code,
code.hljs {
    font-size: 80%;
    background: var(--white);
    color: var(--black);
    border-radius: var(--border-radius);
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    text-align: left;
}

@media print {
    code,
    code.hljs {
        white-space: normal;
    }
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

.padding-large,
.padding-massive {
    padding: 5rem 3.3rem;
}

@media (min-width: 750px) {
    .padding-large {
        padding: 5rem;
    }
    .padding-massive {
        padding: 15rem;
    }
}

@media print {
    .padding-massive {
        padding: 10rem;
    }
}

/* Alerts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.alert {
    width: 100%;
}

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: var(--primary);
}

.modal-body {
    margin: 20px 0;
}

.modal-footer .button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: var(--white);
    color: var(--dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: var(--max-text-width);
    min-width: 250px;
    min-height: 50px;
    margin: 0 auto;
}
.card > .card-header {
    padding: 0 3rem;
}

.card > .card-content {
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card > .card-footer {
    overflow: scroll;
    white-space: nowrap;
}

.card > .card-content > :last-child {
    margin-bottom: 0;
}

.card > .card-header,
.card > .card-footer {
    padding: 0 3rem;
}

.card-footer {
    background: none;
    border: none;
}

.card > :first-child {
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.card > :last-child {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-limit-max-width {
    max-width: var(--max-text-width);
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

.u-center {
    margin-left: auto;
    margin-right: auto;
}

.u-center-text {
    text-align: center;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-bg-primary {
    background-color: var(--primary);
    color: var(--primary-text-contrast);
}

.u-bg-primary a {
    color: var(--primary-text-contrast);
    color: inherit;
}

.u-bg-primary .button-primary {
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
}

.u-bg-secondary {
    background-color: var(--secondary);
    color: var(--secondary-text-contrast);
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

.table td {
    vertical-align: middle;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: '';
    display: table;
    clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
